* {
    padding: 0;
    margin: 0;
}

body {
    min-width: 100px;
    min-height: 200px;
}

.blur {
    filter: blur(5px);
}

.unblur {
    filter: blur(0);
}

#background {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(75deg, #0097A7, #7fac8b);
    bottom: 0;
    left: -50%;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

#navbar {
    background-color: #222222;
    height: 50px;
    top:0;
    position: fixed;
    z-index: 999;
    width: 100vw;
}

#navbar ul {
    float: left;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar li {
    height: 50px;
}

#navbar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

#navbar a:hover {
    background-color: #555555;
}

#navbar svg {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

#navbar svg:hover {
    background-color: #555555;
}

#navbar img {
    margin-left: auto;
    width: 48px;
    height: 48px;
    padding: 0 30px;
    float:right;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(34, 34, 34, 0.6);
    box-shadow: 10px 0 -10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu li {
    width: 100%;
}

@media(max-width: 750px){
    .hideNavbar {
        display: none;
    }
}

#content {
    position: relative;
    padding-top: 50px;
}

.fade1 {
    opacity: 0;
    animation: open-fade 1s forwards;
}

.fade2 {
    animation-delay: 0.5s;
}

.fade3 {
    animation-delay: 1s;
}

@keyframes open-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}